.header {
  grid-area: header;
  background-color: chartreuse;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__logo {
  display: flex;
  width: 25px;
  height: 25px;
}

.header__logo img {
  width: 100%;
}

.login a  { 
    color: white;
}

.profile {
  display: flex;
  gap: 5px;
  color: white;
}